.movie__data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin: 100px 48px;
    text-decoration: none;
}

.movie{
    width: 20%;
}

.movie img{
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.movie h2{
    font-size: 20px;
    line-height: .015;
    margin: 16px 0;
    color: black;
}

.movie h2:first-of-type{
    font-size: 24px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.button{
    font-size: 24px;
    border: 1px solid #af4c0f;
    background-color: #af4c0f;
    color: white;
    border-radius: 10px;
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 850px){
    .movie h2:first-of-type{
        font-size: 20px;
    }
    
    .movie h2{
        font-size: 16px;
        margin: 0;
    }

    .button{
        font-size: 16px;
    }

    .movie{
        width: 40%;
    }
}

@media (max-width: 600px){
    .movie__data{
        gap: 24px;
    }

    .movie{
        width: 80%;
    }
}
@media (max-width: 425px){
    .movie__data{
        gap: 24px;
    }

}