.home__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
    padding: 16px 0;
}

.book__search{
    padding-top: 32px;
}

.book__search input{
    font-size: 24px;
    padding: 8px 16px;
    border: 1px solid #471a14;
    border-radius: 10px;
    margin-right: 8px;
}

.book__search button{
    background-color: #471a14;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 24px;
    border: 1px solid #471a14;
}

figure img{
    max-height: 50vh;
}

@media (max-width: 850px) {
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 24px;
    }

    .book__search input{
        font-size: 16px;
    }

    .book__search button{
        font-size: 16px;
    }
}
@media (max-width: 550px) {
    h1{
        font-size: 24px;
    }

    h2{
        font-size: 20px;
    }

    .book__search{
        padding-top: 20px;
    }

    figure img{
        max-height: 30vh;
    }
}

@media (max-width: 425px){
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }
}