.info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back__arrow{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    cursor: pointer;
}

.info iframe{
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

.video__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 20px;
}

.no__video{
    font-size: 48px;
}

@media (max-width: 850px){
    .video__info{
        font-size: 12px;
    }
}

@media (max-width: 600px){
    .video__info{
        display: none;
    }

    .info iframe{
        height: 40%;
    }
    
    .no__video{
        font-size: 32px;
    }
}