@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radley", serif;
}

body, html {
    background-color: #af4c0f1f;
}


.orange{
    color: #af4c0f;
}